@media only screen and (min-width: 1170px) {
    .cd-panel__container {
      width: 70% !important;
    }
  
    .cd-panel__header {
      width: 70% !important;
    }
  }
  

  .parallax__layer--deep {
    transform: translateZ(-2px) translateY(-50%) scale(3);
    -webkit-transform: translateZ(-2px) translateX(-20px) translateY(50%) scale(3);
  }
  
  
  .sect-banner ul.kf-slider li {
      filter: brightness(30%);
      height: 150vh;
      width: 100Vw;
      position: absolute;
      top: 0;
      margin: auto;
      padding: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-animation: fade-out 9s infinite both;
      -moz-animation: fade-out 9s infinite both;
      animation: fade-out 9s infinite both;
      background-image: url(alice-pasqual-Olki5QpHxts-unsplash.jpg); }
      @media (min-width: 58em) {
        .sect-banner ul.kf-slider li {
          background-image: url(alice-pasqual-Olki5QpHxts-unsplash.jpg); } }
    .sect-banner ul.kf-slider li:nth-child(2) {
      background-image: url(alice-pasqual-Olki5QpHxts-unsplash.jpg);
      -webkit-animation-delay: 3s;
      -moz-animation-delay: 3s;
      animation-delay: 3s; }
      @media (min-width: 58em) {
        .sect-banner ul.kf-slider li:nth-child(2) {
          background-image: url(alice-pasqual-Olki5QpHxts-unsplash.jpg); } }
    .sect-banner ul.kf-slider li:nth-child(3) {
      background-image: url(alice-pasqual-Olki5QpHxts-unsplash.jpg);
      -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s;
      animation-delay: 6s; }
      @media (min-width: 58em) {
        .sect-banner ul.kf-slider li:nth-child(3) {
          background-image: url(alice-pasqual-Olki5QpHxts-unsplash.jpg); } }
    .sect-banner .banner-bg {
      height: 100%;
      width: 100%;
      position: relative;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      background-attachment: fixed;
      background-image: url(alice-pasqual-Olki5QpHxts-unsplash.jpg);
      -webkit-animation: slider-sm ease-in-out 30s both infinite;
      -moz-animation: slider-sm ease-in-out 30s both infinite;
      animation: slider-sm ease-in-out 30s both infinite; }
      @media (min-width: 58em) {
        .sect-banner .banner-bg {
          background-image: url(alice-pasqual-Olki5QpHxts-unsplash.jpg);
          -webkit-animation: slider-lg ease-in-out 30s both infinite;
          -moz-animation: slider-lg ease-in-out 30s both infinite;
          animation: slider-lg ease-in-out 30s both infinite;}}

.card-blogEntry.panel {
  padding-top: 10px !important;
  padding-left: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.col-blogEntry {
  width: 100%;
  margin-left: 1;
}

@media only screen and (max-width: 550px) {
  .col-blogEntry {
    width:100% ;
  }
  .card-blogEntry.panel {
    width: 100%;
    padding-left: none;
    padding-right: none;
    margin-right: 0;
    margin-left: 0;
  }
}

.intro-menu {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.card-blogEntry {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 350px;
}

.blog-details {
  display: inline-block;
  text-align: center;
}

.blog-description {
  display: inline-block;
  text-align: center;
}

.blog-description p {

}

.blog-description a {
  font-family: "Segoe UI",Arial,sans-serif;
  text-decoration: none;
}

.blog-description.panel {
  text-align: left;
}

.button {
  display:table;
  margin:auto;
}

.row {
  max-width: 100%;
}
